---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./string-functions_code.md";
import Comment from "./string-functions_comment.md";
import Head from "./string-functions_combined_comments.md";
import ScriptOutPut from "./string-functions_output.md";
---

<BlogLayout title="Nodejs by Example: String-Functions">
  <span slot="title"> String-Functions</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
  <ScriptOutPut slot="output" />
</BlogLayout>
