---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./if-else_code.md";
import Comment from "./if-else_comment.md";
import Head from "./if-else_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: If-Else">
  <span slot="title"> If-Else</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
