---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./promises_code.md";
import Comment from "./promises_comment.md";
import Head from "./promises_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: Promises">
  <span slot="title"> Promises</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
