---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./for_code.md";
import Comment from "./for_comment.md";
import Head from "./for_combined_comments.md";
import ScriptOutPut from "./for_output.md";
---

<BlogLayout title="Nodejs by Example: For">
  <span slot="title"> For</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
  <ScriptOutPut slot="output" />
</BlogLayout>
