---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./error-handling_code.md";
import Comment from "./error-handling_comment.md";
import Head from "./error-handling_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: Error-Handling">
  <span slot="title"> Error-Handling</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
