---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./arrow-function_code.md";
import Comment from "./arrow-function_comment.md";
import Head from "./arrow-function_combined_comments.md";
import ScriptOutPut from "./arrow-function_output.md";
---

<BlogLayout title="Nodejs by Example: Arrow-Function">
  <span slot="title"> Arrow-Function</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
  <ScriptOutPut slot="output" />
</BlogLayout>
