---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./array-functions_code.md";
import Comment from "./array-functions_comment.md";
import Head from "./array-functions_combined_comments.md";
import ScriptOutPut from "./array-functions_output.md";
---

<BlogLayout title="Nodejs by Example: Array-Functions">
  <span slot="title"> Array-Functions</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
  <ScriptOutPut slot="output" />
</BlogLayout>
