---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./values_code.md";
import Comment from "./values_comment.md";
import Head from "./values_combined_comments.md";
import ScriptOutPut from "./values_output.md";
---

<BlogLayout title="Nodejs by Example: Values">
  <span slot="title"> Values</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
  <ScriptOutPut slot="output" />
</BlogLayout>
