---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./function_code.md";
import Comment from "./function_comment.md";
import Head from "./function_combined_comments.md";
import ScriptOutPut from "./function_output.md";
---

<BlogLayout title="Nodejs by Example: Function">
  <span slot="title"> Function</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
  <ScriptOutPut slot="output" />
</BlogLayout>
