---
import BlogLayout from "../layouts/Blog.astro";
import Code from "../examples/for/for_code.md";
import Comment from "../examples/for/for_comment.md";
import Head from "../examples/for/for_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: For">
  <span slot="title"> For</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
