---
import BlogLayout from '../layouts/Blog.astro';
import Code from '../examples/hello-world/hello-world_code.md'
import Comment from '../examples/hello-world/hello-world_comment.md'
---

<BlogLayout title="Nodejs by Example: Hello-World">
		<span slot="title"> Hello-World</span>
		<Comment slot="comment"/>
		<Code slot="code"/>
	</div>
</BlogLayout>

