---
import BlogLayout from "../layouts/Blog.astro";
import Code from "../examples/if-else/if-else_code.md";
import Comment from "../examples/if-else/if-else_comment.md";
import Head from "../examples/if-else/if-else_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: if-else">
  <span slot="title"> if-else</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
