---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nodejs by Example">
	<main>
		hello nodejs
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
