---
import BlogLayout from "../layouts/Blog.astro";
import Code from "../examples/switch/switch_code.md";
import Comment from "../examples/switch/switch_comment.md";
import Head from "../examples/switch/switch_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: Switch">
  <span slot="title"> Switch</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
