---
import BlogLayout from "../layouts/Blog.astro";
import Code from "../examples/template-string/template-string_code.md";
import Comment from "../examples/template-string/template-string_comment.md";
import Head from "../examples/template-string/template-string_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: Template-String">
  <span slot="title"> Template-String</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
