---
import BlogLayout from "../layouts/Blog.astro";
import Code from "../examples/values/values_code.md";
import Comment from "../examples/values/values_comment.md";
import Head from "../examples/values/values_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: Values">
  <span slot="title"> Values</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
