---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./timers_code.md";
import Comment from "./timers_comment.md";
import Head from "./timers_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: Timers">
  <span slot="title"> Timers</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
