---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./array_code.md";
import Comment from "./array_comment.md";
import Head from "./array_combined_comments.md";
import ScriptOutPut from "./array_output.md";
---

<BlogLayout title="Nodejs by Example: Array">
  <span slot="title"> Array</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
  <ScriptOutPut slot="output" />
</BlogLayout>
