<p class="footer">
  by 
  <a href="https://github.com/ac-greener" target="_blank">ac-greener</a> |
  <a href="https://github.com/ac-greener/nodejsbyexample" target="_blank">source</a> |
  <a href="https://github.com/ac-greener/nodejsbyexample#license" target="_blank">license</a>
</p>

<style lang="less">
  p.footer {
    font-size: 14px;
    color: #808080;
    margin-top: 8px;
  }
</style>
