---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./array-fucntions_code.md";
import Comment from "./array-fucntions_comment.md";
import Head from "./array-fucntions_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: Array-Fucntions">
  <span slot="title"> Array-Fucntions</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
