---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./const_code.md";
import Comment from "./const_comment.md";
import Head from "./const_combined_comments.md";
import ScriptOutPut from "./const_output.md";
---

<BlogLayout title="Nodejs by Example: Const">
  <span slot="title"> Const</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
  <ScriptOutPut slot="output" />
</BlogLayout>
