---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="通过实用的示例学习 Node.js。本站提供从基础到高级的Node.js教程，适用于初学者和有经验的开发者。" />
    <meta name="keywords" content="Node.js, 教程, 示例, 学习, 编程, JavaScript, 开发, Web学习" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Node.js示例教程</title>  
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="less">
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 90ch;
    line-height: 1.5;
    background: #fff;
    color: #252519;
  }
  .code-wrapper {
    pre.astro-code {
      background-color: #f9f9f9 !important;
      padding-left: 8px;
    }
  }
  a {
    border-bottom: #777 1px solid;
    text-decoration: none!important;;
  }
  a:hover {
    border-bottom: #000 2px solid;
  }
</style>
