---
import BlogLayout from "../../layouts/Blog.astro";
import Code from "./recursion_code.md";
import Comment from "./recursion_comment.md";
import Head from "./recursion_combined_comments.md";
---

<BlogLayout title="Nodejs by Example: Recursion">
  <span slot="title"> Recursion</span>
  <Head slot="head" />
  <Comment slot="comment" />
  <Code slot="code" />
</BlogLayout>
